<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Checkout\Block\Cart\Coupon" type="Claret\Coupon\Block\Cart\Coupon" />
    <preference for="Magento\Checkout\Controller\Cart\CouponPost" type="Claret\Coupon\Controller\Cart\CouponPost" />
    <preference for="Magento\SalesRule\Model\Quote\Discount" type="Claret\Coupon\Model\Quote\Discount" />
</config>